@media screen and (min-width: 601px) {
    .logo {
        float: left;
        padding: 15px 0;
        margin-left: 10%;
    }
    .menu{
        margin-right: 10%;
        list-style: none;
        float: right;
        display: inline-block;

    }
    .groub-itme {
        float: right;
        padding: 15px 0;

    }
    .itme{
        text-decoration: none;
        color: white;
        height: 30px;
        line-height: 30px;
        font-size: 1.2em;
        padding: 20px 10px;
    }
    .itme:hover{
        color: #157DEC;
        background-color: #111;
    }
    
}