
@media screen and (max-width: 415px) {
    .logo {
        padding: 15px;
        text-align: center;
    }
    .bg-menu{
        position: fixed;
        z-index: 999;
        top: 290px;
        left: 0;
        background: #000;
    }
    .menu {
        font-size: 1.4em;
        padding: 2px;
        
    }
    .itme {
        margin-top: 2px;
        display: block;
        padding: 10px;
        background: white;
        color: #157DEC;
        text-decoration: none;
    }
    #we{
        margin-top: 0px;
    }
    .itme:focus {
        background: #000;
        color: white;
    }
}