
@media screen and (min-width: 416px) and (max-width: 600px) {
    nav{
        overflow: hidden;
    }
    .logo{
        float: left;
        padding: 15px 5px;
    }
    .menu {
        float: right;
        list-style: none;
        display: inline-block;
    }
    .groub-itme{
        padding: 15px 0;
        float: right;
    }
    .itme {
        text-decoration: none;
        color: white;
        height: 30px;
        line-height: 30px;
        font-size: 1.2em;
        padding: 20px 10px;
    }
    .itme:hover{
        color: #157DEC;
        background: #111;
        
    }
}